<!DOCTYPE html>

<html>

 <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,700i|Open+Sans:400,400i,700"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/start.css">
                
 </head>

<div id="start-screen">
    <section class="title-start">
        <h1>Please Press Start To Begin The Game!</h1>
    </section>

    <div id="start-button">
        <button class="startButton">
            <h1><a href = "/game"; title = "Gamepage"> Start</a></h1>
        </button>
    </div>
  </div>


  <script src="/static/startPage.js"></script>

  </html>