@font-face {
    font-family: 'Pixel-Font';
    src: url('../COMMP___.TTF') format('truetype');
}


html, body, #start-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-start h1{
    font-family: Pixel-Font;
}

.startButton{
    display: block;
    margin: 0 auto;
    animation: breathing_effect 4s linear infinite;
    font-family: Pixel-Font;

    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}


.startButton a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.startButton a:active, .startButton a:focus{
    color: inherit;
    text-decoration: none;
    outline: none;
}

@keyframes breathing_effect {
    0%{transform: scale(.8);}
    25%{transform: scale(1);}
    60%{transform: scale(.8);}
    100%{transform: scale(1);}
}

body {
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }