@font-face {
    font-family: 'Pixel-Font';
    src: url('./COMMP___.TTF') format('truetype');
}


html, body, #start-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(./images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }




/*Title*/

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    float: left;
    margin: 1em;
}
.title p{
    font-family: Pixel-Font;
    font-size: 2em;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}

.ball-images{
    display: flex;
    float: right;
    flex-direction: row;
    width: 100%;
    /* padding-left : 20em; */
}
#ball1, #ball2, #ball3, #ball4, #ball5, #ball6{
    background-image: url(../static/images/RedBall.png);
    height: 10em;
    width: 100%;
    padding: 1em;
    background-size: cover;
    background-position: center;
    margin-left: 1em;
}


/*Counter*/
#container1, #container2, #container3{
    height: 100%;
    width: 30em;
    margin: 2em auto;
    background-color: rgb(255,255,255,0.3);
    border-radius: 3em;
    
}

#container{
    display: flex;
    flex-direction: row;
}

#container1 p, #container2 p, #container3 p {
    font-family: Pixel-Font;
    text-align: center;
    font-size: 2em;
}

.quitButton a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

.quitButton a:active
.quitButton a:focus{
    color: inherit;
    text-decoration: none;
    outline: none;
}

#hit-button {
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align : center;
	height: 2em;
}

.hitButton {
	height : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
	font-family : 'Pixel-Font';
	background-color : rgba(255, 255, 255, 1);
}

#number{
    height: 2.5em;
    width: 2.5em;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em;
    border-radius: 2.5em;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
    line-height: 2.5em;
    font-family: Pixel-Font;
   
}

#number2{
    height: 2.5em;
    width: 4em;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em;
    border-radius: 2.5em;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
    line-height: 2.5em;
    font-family: Pixel-Font;
}

#number3{
    height: 2.5em;
    width: 2.5em;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em;
    border-radius: 2.5em;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
    line-height: 2.5em;
    font-family: Pixel-Font;
}


#decrement1, #decrement2, #increment1, #increment2, #forward, #backward{
    height: 10.2em;
    width: 10em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background: none;
    /* visibility: hidden; */
}
#increment1{
    background-image: url(./images/Green-arrow-up.png);
}

#decrement1{
    background-image: url(./images/Red-arrow-down.png);
}

#increment2{
    background-image: url(./images/Blue-arrow-right.png);
}

#decrement2{
    background-image: url(./images/Yellow-arrow-left.png);
}

#forward{
    background-image: url(./images/Forward.png);
}

#backward{
    background-image: url(./images/Backward.png);
}
/*Counter 1*/

/*Counter 2*/
/*Counter 2*/

/*Arrows*/
#arrows {
    display: flex;
    flex-direction: row;
    margin: auto;
}

/*Container*/

/*Slider*/
.slideContainer{
    width: 80%;   
    margin: auto;
    display: flex;
    flex-direction: column;
}

.slideContainer p{
    font-family: Pixel-Font;
    margin: auto;
    font-size: 2em;
}
.slider{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* .slider ::-webkit-slider-runnable-track{
    box-shadow: 0.1em 0.1em 0.4em #1f1f1f;
} */

/*Slider*/

.quit-button {
    position: relative;
    right: 0;
    bottom: 0;
}
.quitButton{
    position: relative;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-family: Pixel-Font;
    border-radius: 0.4em;
    box-shadow: 2em 2em 4em#1f1f1f;
}

.quitButton h1{
    font-size: 1em;
}

/* Timer stuff */
#timer {
	font-family :'Pixel-Font';
	display : flex;
	align-items : center;
	text-align : center;
	flex-direction : column;
}

.progress-bar {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	height : 1em;
	border : 0.1em solid #000;
	border-radius : 3em;
	margin-bottom : 0;
}

.progress2 {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	height : 100%;
	background-color : rgba(0, 255, 0, 0.5);
	width : 100%;
	border-radius : 3em;
	transition : width 0.2s ease-in-out;
}
