@font-face {
    font-family: 'Pixel-Font';
    src: url('COMMP___.TTF') format('truetype');
}


html, body, #start-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-start h1{
    font-family: Pixel-Font;
}

.startButton{
    display: block;
    margin: 0 auto;
    animation: breathing_effect 4s linear infinite;
    font-family: Pixel-Font;

    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}


.startButton a ,.quitButton a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

.startButton a:active, .startButton a:focus, .quitButton a:active
.quitButton a:focus{
    color: inherit;
    text-decoration: none;
    outline: none;
}

@keyframes breathing_effect {
    0%{transform: scale(.8);}
    25%{transform: scale(1);}
    60%{transform: scale(.8);}
    100%{transform: scale(1);}
}



.animated {
    animation-name: fade-away;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

body {
    background-image: url(./images/966314.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

/*Title*/
.title p{
    font-family: Pixel-Font;
    font-size: 2em;
    text-align: center;
    padding-left: 0%;
    margin-bottom: 0px;
}

/*Counter*/
#container1, #container2{
    height: 100%;
    width: 30em;
    margin: 50px auto;
    background-color: rgb(255,255,255,0.3);
    border-radius: 3em;
    
}

#container{
    display: flex;
    flex-direction: row;
}

#container1 p, #container2 p {
    font-family: Pixel-Font;
    text-align: center;
    font-size: 2em;
}



#number, #number2{
    height: 2.5em;
    width: 2.5em;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em;
    border-radius: 2.5em;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
    line-height: 2.5em;
    font-family: Pixel-Font;
   
}

#decrement1, #decrement2, #increment1, #increment2{
    height: 10.2em;
    width: 10em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background: none;
    /* visibility: hidden; */
}
#increment1{
    background-image: url(./images/Green-arrow-up.png);
}

#decrement1{
    background-image: url(./images/Red-arrow-down.png);
}

#increment2{
    background-image: url(./images/Blue-arrow-right.png);
}

#decrement2{
    background-image: url(./images/Yellow-arrow-left.png);
}
/*Counter 1*/

/*Counter 2*/
/*Counter 2*/

/*Arrows*/
#arrows {
    display: flex;
    flex-direction: row;
    margin: auto;
}

/*Container*/

/*Slider*/
.slideContainer{
    width: 80%;   
    margin: auto;
    display: flex;
    flex-direction: row;
}

.slideContainer p{
    font-family: Pixel-Font;
    margin-right: 10px;
}
.slider{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* .slider ::-webkit-slider-runnable-track{
    box-shadow: 0.1em 0.1em 0.4em #1f1f1f;
} */

/*Slider*/

.quit-button {
    position: absolute;
    left: 0;
    bottom: 0;
}
.quitButton{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-family: Pixel-Font;
    border-radius: 0.4em;
    box-shadow: 2em 2em 4em#1f1f1f;
}

.quitButton h1{
    font-size: 1em;
}