@font-face {
    font-family: 'Pixel-Font';
    src: url('COMMP___.TTF') format('truetype');
}


html, body, #start-screen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    text-align: center;
    font-family: Pixel-Font;
}



.startButton{
    display: block;
    margin: 0 auto;
    animation: breathing_effect 4s linear infinite;
    font-family: Pixel-Font;

    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}


.startButton a ,.quitButton a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

.startButton a:active, .startButton a:focus, .quitButton a:active
.quitButton a:focus{
    color: inherit;
    text-decoration: none;
    outline: none;
}

@keyframes breathing_effect {
    0%{transform: scale(.8);}
    25%{transform: scale(1);}
    60%{transform: scale(.8);}
    100%{transform: scale(1);}
}



.animated {
    animation-name: fade-away;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

body {
    background-image: url(./images/966314.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
/*Counter 1*/
#container{
    height: 200px;
    width: 500px;
    border: 10px solid white;
    margin: 50px auto;
    background-color: grey;
}

#number{
    height: 25px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

#increment{
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 125px;
}

#decrement{
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
/*Counter 1*/

/*Counter 2*/
#container2{
    height: 200px;
    width: 500px;
    border: 10px solid white;
    margin: 50px auto;
    background-color: grey;
}

#number2{
    height: 25px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

#increment2{
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 125px;
}

#decrement2{
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
/*Counter 2*/

/*Slider*/
.slideContainer{
    width: 80%;   
    margin: auto;
    display: flex;
    flex-direction: row;
}

.slideContainer p{
    font-family: Pixel-Font;
    marigin-right: 10px;
}
.slider{
    width: 100%;
    height: 20px;
    margin: auto;
}

.slideContainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.4em;
    outline: none;
    border-radius: 3px;
    background: #1f1f1f;
    box-shadow: 
        3px 3px 6px #000,
        inset 1px 1px 1px #909090;

}

.slideContainer .slider::-webkit-slider-thumb {

    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.slideContainer .slider-thu
/*Slider*/

.quitButton{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}

